body {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            border: 1px solid black;
            margin: 20px auto;
        }
		td{
			padding:1px;
			border:1px solid rgb(0, 0, 0);
		}
        td, th {
            border: 1px solid black;
            text-align: left;
        }
        .middle td.center {
            text-align: center;
        }
        .middle td.right {
            text-align: right;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }